{% extends "AppBundle:Home:index.html.twig" %}

{% block title %}{{ "Blames" }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="title">There are (even more sad when is) {{ number }} blame(s) to Sadly!</div>
    <p>It's so sad that I'm not even supposed to by here.</p>
{% endblock %}