{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - List{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet" type="text/css">
    {{ parent() }}
    <style>
        body {
            margin: 0;
            padding: 0;
            font-weight: 100;
            font-family: 'Roboto', sans-serif;
        }

        .title {
            margin: 20px auto;
            text-align: center;
            font-size: 96px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="title">Most sad order list is {{ number }}!</div>
    <p>It's even more sad since it's just a random number instead of a list from DB.</p>
    <p>I'll let you on a little secret, I should be accessible from admin panel. But there's no admin panel.</p>
    <p>I would be more sad if could
    <ul>
        <li>Paginate</li>
        <li>Search/Find</li>
        <li>Sort</li>
    </ul>
{% endblock %}